@use '../abstracts/' as *;

/////////////// HERO SECTION ///////////////
.hero-section {
  --content-spacing: var(--size-lg);

  display: grid;
  gap: var(--content-spacing);
  align-items: start;
  padding-block: var(--size-800) var(--size-400);

  @include respond(md) {
    --content-spacing: 4.3125rem;

    grid-template-columns: 21.25rem 1fr;
    padding-block: 1.375rem var(--size-800);
  }

  @include respond(lg) {
    --content-spacing: 7.8125rem;

    grid-template-columns: 27.8125rem 1fr;
    padding-block: 1.75rem var(--size-500);
  }

  ///// FLOW /////
  & > .flow {
    animation: fade-in var(--animation-duration);

    @include respond(md) {
      --content-spacing: var(--size-700);

      margin-top: 3.75rem;
    }

    @include respond(lg) {
      --content-spacing: var(--size-400);
    }
  }

  ///// DESCRIPTION /////
  &__description {
    @include respond(md) {
      margin-bottom: 0.375rem;
    }

    @include respond(lg) {
      font-size: var(--fs-500);
      margin-bottom: 0.625rem;
    }
  }

  ///// EVEN COLUMNS /////
  & .even-columns {
    @include respond(md) {
      --content-spacing: 2.3125rem;
    }

    @include respond(lg) {
      --content-spacing: var(--size-800);
    }
  }

  ///// IMAGE /////
  &__img {
    position: relative;
    min-width: min(113%, 33.75rem);

    @include respond(md) {
      min-width: 29.875rem;
    }

    @include respond(lg) {
      min-width: 33.75rem;

      &::after {
        @include pseudo;

        top: 0;
        left: calc(100% + var(--size-500));
        height: 15rem;
        width: 15.9375rem;
        background-image: url('/assets/design/pattern-square.svg');
      }
    }

    & img {
      border-radius: var(--br-400);
    }

    &::after,
    & img {
      animation: fade-right calc(var(--animation-duration) - 1s);
    }
  }
}

/////////////// ABOUT SECTION ///////////////
.about-section {
  --content-spacing: 4.6875rem;

  display: grid;
  gap: var(--content-spacing);

  padding-bottom: 6.9375rem;

  @include respond(md) {
    --content-spacing: 4.5rem;

    padding-bottom: 8.875rem;
  }

  @include respond(xl) {
    --content-spacing: 7.8rem;

    grid-auto-flow: column;
    align-items: center;

    padding-bottom: 10.5rem;
  }

  ///// EVEN COLUMNS /////
  & > .even-columns {
    --content-spacing: var(--size-400);

    @include respond(md) {
      --content-spacing: var(--size-500);
    }
  }

  ///// IMAGES /////
  & img {
    min-height: 12.0625rem;
    border-radius: var(--br-400);

    @include respond(xl) {
      max-height: 30rem;
    }
  }

  &__img {
    &:first-child {
      position: relative;
      margin-left: -2.9375rem;
      border-radius: var(--br-400);

      &::after {
        @include pseudo;

        inset: 0;
        border-radius: var(--br-400);
        background-color: var(--clr-primary-400);
        mix-blend-mode: multiply;
      }

      @include respond(md) {
        margin-left: 0;
      }

      @include respond(xl) {
        position: relative;
        min-width: 15.9375rem;

        &::before {
          @include pseudo;

          bottom: 0;
          right: calc(100% + var(--size-500));
          height: 15rem;
          width: 15.9375rem;
          background-image: url('/assets/design/pattern-square.svg');
        }
      }
    }

    &:last-child {
      @include respond(xl) {
        min-width: 27.8125rem;
      }
    }
  }

  ///// CONTENT /////
  &__content {
    --content-spacing: var(--size-400);

    display: grid;
    gap: var(--content-spacing);
    justify-items: center;
    text-align: center;

    @include respond(md) {
      grid-auto-flow: column;
      align-items: center;
      text-align: left;
    }

    @include respond(xl) {
      --content-spacing: 1.6875rem;

      grid-auto-flow: row;
      margin-top: var(--size-s);
    }

    & > .heading-secondary {
      max-width: 15ch;
    }
  }
}

/////////////// FEATURES SECTION ////////////
.features-section {
  &__group {
    --content-spacing: var(--size-lg);

    display: grid;
    gap: var(--content-spacing);

    padding-bottom: 2.875rem;

    @include respond(md) {
      --content-spacing: 4.5rem 4.3125rem;

      grid-template-columns: repeat(2, 1fr);

      padding-bottom: 6.125rem;
    }

    @include respond(lg) {
      --content-spacing: var(--size-500);

      grid-template-columns: repeat(4, 1fr);

      padding-bottom: 5.5625rem;
    }
  }

  ///// FEATURE /////
  .feature {
    --content-spacing: var(--size-400);

    display: grid;
    justify-items: center;
    gap: var(--content-spacing);

    text-align: center;

    @include respond(md) {
      justify-items: left;

      text-align: left;
    }

    &__icon-box {
      display: grid;
      place-content: center;

      width: 4.0625rem;
      margin-bottom: var(--size-400);
      aspect-ratio: 1;
      background-color: var(--clr-primary-400);
      border-radius: 1rem;

      @include respond(md) {
        margin-bottom: var(--size-300);
      }

      @include respond(lg) {
        margin-bottom: var(--size-400);
      }
    }

    & > .heading-tertiary {
      max-width: 15ch;
    }

    &__description {
      max-width: 31ch;
    }
  }
}
