@use '../abstracts/' as *;

.header {
  padding-block: var(--size-400);

  @include respond(md) {
    padding-block: var(--size-800);
  }

  @include respond(lg) {
    padding-block: 3.4375rem;
  }

  &__layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
